[user]
	name = Emil Teurnberg
	email = e.teurnberg@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = delta
[push]
	default = simple
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	syntax-theme = Solarized (dark)
[credential]
	helper = osxkeychain
[merge]
	conflictstyle = zdiff3
[rerere]
	enabled = true
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[fetch]
	prune = true
[commit]
	verbose = true
