[user]
	name = Emil Teurnberg
	email = e.teurnberg@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[push]
	default = matching
#[pager]
#	log = diff-highlight | less
#	show = diff-highlight | less
#	diff = diff-highlight | less
[credential]
	helper = osxkeychain
	helper = !/Library/Java/JavaVirtualMachines/jdk1.8.0_192.jdk/Contents/Home/jre/bin/java -Ddebug=false -Djava.net.useSystemProxies=true -jar /usr/local/Cellar/git-credential-manager/2.0.4/libexec/git-credential-manager-2.0.4.jar
[merge]
	conflictstyle = diff3
[rerere]
	enabled = true
